@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
  --color1: #000000;
  --color2: #cecece;
  --color3: #ffffff;
  --color4: #0AA1DD;
  --color5: #2155CD;
  --color6: #d2042d;
  --color7: #a51633;
  --color8: #c1ff1c;
  --color9: #58bb43;
  --font1: 'Poppins', sans-serif;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2: #4d4d4d;
  --color3: #212426;
  --color4: #8E2DE2;
  --color5: #440c85;
  --color6: #d2042d;
  --color7: #a51633;
  --color8: #c1ff1c;
  --color9: #58bb43;
  --font1: 'Poppins', sans-serif;
}

html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color3);
}

.pagelayout{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100vw;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color: var(--color1);
}
.navbar>.selectednav{
  background-color: var(--color4);
  color: var(--color3);
}
.navbar>div{
  display: grid;
  cursor: pointer;
  place-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  font-size: 25px;
  font-family: var(--font1);
}
.navbar>div:hover{
  background-color: var(--color5);
  color: var(--color3);
}
main{
  min-height: calc(100vh - 100px);
}
.algorithms{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.algoimg{
  height: 165px;
  width: 270px;
  position: relative;
}
.algorithms>div{
  border: 2px solid var(--color3);
  border-radius: 25px;
  display: grid;
  grid-template-columns: 270px;
  overflow: hidden;
  place-items: center;
  grid-template-rows: 165px 50px;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid var(--color4);
}
.algorithms>div:hover{
  background-color: var(--color4);
  color: #ffffff;
}

.sorting{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 25px;
}
.algobuttons>input{
  font-family: var(--font1);
  font-size: 18px;
  border: 2px solid var(--color4);
  padding: 5px 10px;
  width: 125px;
  border-radius: 10px;
  outline: none;
}
.algobuttons>input:focus{
  border: 2px solid var(--color5);
}
.algotitle{
  font-family: var(--font1);
  font-size: 30px;
}
.algobars{
  height: 60vh;
  width: 90vw;
  display: grid;
  align-items: flex-end;
}
.algobars>div{
  width: 100%;
}
.algobuttons{
  display: flex;
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.algobuttons>button{
  background-color: var(--color4);
  color: #ffffff;
  outline: none;
  font-family: var(--font1);
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 16px;
}
.algobuttons>button:hover{
  background-color: var(--color5);
}
.algobuttons>.disabledbutton{
  background-color: var(--color6);
}
.algobuttons>.disabledbutton:hover{
  background-color: var(--color7);
}
.title{
  font-family: var(--font1);
}
.titledisplay{
  display: flex;
  gap: 20px;
}
.homescreen{
  font-family: var(--font1);
  font-size: 35px;
  color: var(--color1);
  height: 100%;
  padding: 25px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 25px;
}
.algomap{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  height: 55vh;
  width: calc(55vh * 3);
  border: 1px solid var(--color2);
}
.noisecanvas{
  height: 375px;
  width: 1125px;
  border: 1px solid var(--color2);
}
.algomap>div{
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}
.algomap>div>div{
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  overflow: hidden;
  border: 1px solid var(--color2);
}
.algomap>div>div:hover{
  border: 2px solid var(--color4);
}
.perlinmap>div>div{
  cursor: auto;
}
.perlinmap>div>div:hover{
  border: 1px solid var(--color2);
}
.mapstatus{
  font-family: var(--font1);
  color: var(--color4);
  font-size: 22px;
}
.maperror{
  color: var(--color6);
}
.inner-circle{
  width: 100%;
  height: 100%;
}
.color-transition{
  animation: inner-circle linear 0.4s;
}
@keyframes inner-circle{
  0%{
    border-radius: 50%;
    width: 50%;
    height: 50%;
  }
  100%{
    border-radius: 0%;
    width: 100%;
    height: 100%;
  }
}