@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root{
  --color1: #000000;
  --color2: #efefef;
  --color3: #ffffff;
  --color4: #0AA1DD;
  --color5: #2155CD;
  --color6: #d2042d;
  --font1: 'Poppins', sans-serif;
}
[data-theme='dark'] {
  --color1: #ffffff;
  --color2: #4d4d4d;
  --color3: #212426;
  --color4: #8E2DE2;
  --color5: #440c85;
  --color6: #d2042d;
  --font1: 'Poppins', sans-serif;
}

html,body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color3);
}

.pagelayout{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100vw;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  padding: 20px 75px;
  color: var(--color1);
}
.navbar>.selectednav{
  border-bottom: 3px solid var(--color5);
}
.navbar>div{
  display: grid;
  cursor: pointer;
  place-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  font-size: 25px;
  font-family: var(--font1);
  border-bottom: 3px solid var(--color2);
}
main{
  min-height: calc(100vh - 100px);
}

.sorting{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100%;
}
.sorting>input{
  font-family: var(--font1);
  font-size: 18px;
  border: 2px solid var(--color2);
  padding: 5px 10px;
  width: 125px;
  border-radius: 10px;
  outline: none;
}
.sorting>input:focus{
  border: 2px solid var(--color4);
}
.algotitle{
  font-family: var(--font1);
  font-size: 30px;
}
.algobars{
  height: 52.5vh;
  width: 90vw;
  display: grid;
  align-items: flex-end;
  gap: 1px;
}
.algobars>div{
  width: 100%;
  background-color: var(--color4);
}
.algobuttons{
  display: flex;
  gap: 25px;
}
.algobuttons>button{
  background-color: var(--color4);
  color: #ffffff;
  font-family: var(--font1);
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 16px;
}
.algobuttons>button:hover{
  background-color: var(--color5);
}
.title{
  font-family: var(--font1);
}